<?xml version="1.0" encoding="UTF-8" ?>
        <phpunit bootstrap="./vendor/autoload.php"
                 color="true"
                 convertErrorsToExceptions="true"
                 convertNoticesToExceptions="true"
                 convertWarningsToExceptions="true"
                 stopOnFailures="false"
                 syntaxCheck="false"

        >
            <testsuites>
                <testsuite name="Test for travisci">
                    <directory>./tests/</directory>
                </testsuite>
            </testsuites>
        <filter>
            <whitelist>
                <directory>./</directory>
                    <exclude>
                        <directory>./Tests</directory>
                    </exclude>
            </whitelist>
        </filter>
        </phpunit>
